body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1, h2 {
  text-align: center;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 60%;
  background-color: white;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

input {
  margin: 5px;
  padding: 5px;
}

button {
  padding: 5px 10px;
  margin-top: 10px;
}
