body {
  font-family: "Times New Roman", Times, serif;
  background-color: #f2f2f2;
  margin: 0;
}

/* CENTER THE MAIN CONTENT BLOCK */
#root > div {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

/* Headings */
h1, h2 {
  margin-top: 20px;
}

/* Table */
table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

th {
  background-color: #dcdcdc;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

/* Inputs */
input {
  padding: 5px;
  margin: 5px;
  width: 120px;
}

/* Button */
button {
  padding: 5px 15px;
  margin-left: 5px;
}
